.App {
  text-align: center;
}


.appLinks{
  color: white;
}


.jumbotron{
  background-image: url("../src/Images/matt.jpg");
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  width: 100%;
  padding: 25%;  
  /* border: 5px solid green; */
}

.headerNav{
  font-family: 'Racing Sans One', cursive;
  font-size: 2.1em; 
  color: white;
}


.header{
  font-family: 'Racing Sans One', cursive;
  font-size: 4em; 
  color: white;
}


.headShot{ 
  width: 40%; 
  height: auto; 
}

.aboutMeBox{
  background-color:#2274A5;  
}

.certBox{
  background-color: #FFBF00; 
}